.App {
  text-align: center;
  margin-top: 10%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inputusername {
  max-width: 550px;
  margin: 10% auto;
  padding: 20px;
  padding-top: 50px;
  background-color: none; 
  opacity: 0.7;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
  color: black;
  margin-top: -2px;
  display: center;
  text-align: center;
}
